<div class="table-box">
  <ion-grid>
    <ion-row>
      <ion-col><strong>Tabla </strong></ion-col>
      <ion-col><strong>Registros</strong></ion-col>
      <ion-col><strong>Estados Auditoría</strong></ion-col>
      <ion-col><strong>Última operación</strong></ion-col>
      <ion-col><strong>Alertas</strong></ion-col>
      <ion-col><strong>Acciones</strong></ion-col>
    </ion-row>

    <!--<ion-row >
      <ion-col>{{ table.name }}</ion-col>
      <ion-col>{{ table.rows }}</ion-col>
      <ion-col><span class="audit-icon">whatever </span></ion-col>
      <ion-col>{{ table.lastOp }}</ion-col>
      <ion-col>{{ table.lastOp }}</ion-col>
      <ion-col>{{ table.lastOp }}</ion-col>
    </ion-row> -->

    <ion-row >
      <ion-col size="12" class="ion-text-center text-muted"
        >No hay resultados</ion-col
      >
    </ion-row>
  </ion-grid>