
<ion-content>
  <div class="container ion-padding">
    <!-- Alerta de actividad -->
    <div class="alert-custom">
      <span>⚠️ Alerta: Se detectaron más de 250 operaciones recientes. Revisa la actividad.</span>
      <ion-button class="btn-alerta"fill="clear" size="small"  >✕</ion-button>
    </div>

    <!-- Tarjetas resumen -->
    <div class="cards-container">
      <div *ngFor="let item of summary" class="audit-card" (click)="irAHistorial(item.label)">
        <div class="count">{{ item.count }}</div>
        <div class="label">{{ item.label }}</div>
      </div>
    </div>

    
    <ion-segment [(ngModel)]="tablaSeleccionada" color="primary">
      <ion-segment-button value="gestion">
        <ion-label>Gestión de auditoría</ion-label>
      </ion-segment-button>
      <ion-segment-button value="logs">
        <ion-label>Log y Monitorización</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tablas">
        <ion-label>Administración de tablas</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="tablaSeleccionada">
      <ng-container *ngSwitchCase="'gestion'">
        <app-tabla-configuracion [tabla]="tablaSeleccionada"></app-tabla-configuracion>
      </ng-container>

      <ng-container *ngSwitchCase="'logs'">
        <app-tabla-logs [tabla]="tablaSeleccionada"></app-tabla-logs>
      </ng-container>
      
      <ng-container *ngSwitchCase="'tablas'">
        <app-tabla-tablas [tabla]="tablaSeleccionada"></app-tabla-tablas>
      </ng-container>
    </div>


  </div>
</ion-content>