::host {
    --ion-padding: 2rem;
    background: #f4f4f4;
  }
  
  .container {
    padding-top: 10rem;
  }
  
  .titulo-seccion {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .header-row {
    background: #f2f2f2;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }